@font-face {
  font-family: 'iconfont';  /* Project id 2726367 */
  src: url('//at.alicdn.com/t/font_2726367_oe5j2332fd.woff2?t=1628564384355') format('woff2'),
       url('//at.alicdn.com/t/font_2726367_oe5j2332fd.woff?t=1628564384355') format('woff'),
       url('//at.alicdn.com/t/font_2726367_oe5j2332fd.ttf?t=1628564384355') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}