@font-face {
  font-family: 'iconfont';  /* Project id 2726367 */
  src: url('//at.alicdn.com/t/font_2726367_01j4er006f63.woff2?t=1629852537250') format('woff2'),
       url('//at.alicdn.com/t/font_2726367_01j4er006f63.woff?t=1629852537250') format('woff'),
       url('//at.alicdn.com/t/font_2726367_01j4er006f63.ttf?t=1629852537250') format('truetype')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}