@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$content-font-color: #495867;
$content-bg-color:#F7F7FF;
$content-border-color:#577399;
$content-light-color: #BDD5EA;
$content-highlight-color: #ff3366;
$content-font: 'Lato', sans-serif;

